<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sygma_solution_system.My.MySettings.odbc_sygma_lokal" connectionString="Dsn=syspro" providerName="System.Data.Odbc"/>
        <add name="sygma_solution_system.My.MySettings.sygma_cmds_20121028ConnectionString" connectionString="User Id=postgres;Password=bangkar;Host=localhost;Database=sygma_cmds_20121028;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.sygma_091014_020623ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=sygma_091014_020623;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.sygma_091014ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=sygma_091014;Persist Security Info=True;Schema=public" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.sygma_exa_1020_20240606ConnectionString" connectionString="User Id=postgres;Host=localhost;Database=sygma_exa_1020_20240606" providerName="CoreLab.PostgreSql.Entity"/>
        <add name="sygma_solution_system.My.MySettings.sygma_exa_1020_20240606ConnectionString1" connectionString="User Id=postgres;Password=bangkar;Host=localhost;Database=sygma_exa_1020_20240606;Persist Security Info=True" providerName="CoreLab.PostgreSql.Entity"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
